<div class="housing-review">

  <div class="review-details">

    <div class="review-text review-detail">
      <div class="detail-content">{{ review.text }} €</div>
    </div>

    <div class="review-rating review-detail">
      <label class="detail-title">Rating: </label>
      <div class="detail-content">{{ review.rating }}</div>
    </div>

    <div class="review-reviewer review-detail">
      <label class="detail-title">Reviewer: </label>
      <div class="detail-content">{{ review.reviewer }}</div>
    </div>

  </div>


</div>

