<app-navbar></app-navbar>
<div class="container">

  <div class="housing-wrapper d-flex">

    <div class="sidebar">
      <div class="sidebar-area">
        <div class="check-in-date option">
          <label>Check-in date</label>
          <div>Saturday 28 October 2023</div>
        </div>

        <div class="check-out-date option">
          <label>Check-in date</label>
          <div>Saturday 28 October 2023</div>
        </div>

        <div class="nights">1 night · 2 people</div>

        <div class="save-options-button btn btn-primary">Save</div>
      </div>

    </div>

    <app-housing-item *ngIf="housing" [housing]="housing"></app-housing-item>
  </div>

  <div class="reviews">
    <header>Reviews</header>
  </div>

  <div class="reviews col-lg-8">
    <div *ngFor="let review of reviews">
      <app-housing-review-item [review]="review"></app-housing-review-item>
    </div>
  </div>

  <ul *ngIf="totalPages > 1 "class="pagination">
    <li class="page-item" [ngClass]="{'disabled': currentPage === 0}">
      <a class="page-link">Previous</a>
    </li>
    <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
      <a class="page-link" (click)="changePage(page)">{{ page + 1 }}</a>
    </li>ng
    <li class="page-item">
      <a class="page-link" href="#" [ngClass]="{'disabled': currentPage === totalPages - 1}">Next</a>
    </li>
  </ul>

</div>
