<app-navbar></app-navbar>
<div class="container">

  <div class="housing-wrapper d-flex">

    <div class="sidebar">
      <div class="sidebar-area">
        <div class="check-in-date option">
          <label>Check-in date</label>
          <div>Saturday 28 October 2023</div>
        </div>

        <div class="check-out-date option">
          <label>Check-out date</label>
          <div>Saturday 28 October 2023</div>
        </div>

        <div class="nights">1 night · 2 people</div>

        <div class="save-options-button btn btn-primary">Save</div>
      </div>

    </div>

    <app-housing-item *ngIf="housing" [housing]="housing"></app-housing-item>
  </div>

  <div *ngIf="housing" class="reviews">
    <div class = "review-header" >
      <header>Reviews</header>
    </div>

    <div class="review-items">
      <div *ngFor="let review of housing.reviews" class="review-item">
        <app-housing-review-item [review]="review"></app-housing-review-item>
      </div>
    </div>

  </div>

</div>
