<app-navbar></app-navbar>
<p>My Bookings</p>

<div class="booking-items">
  <ng-container *ngIf="bookings.length; else noBookings">
    <div class="booking-items" *ngFor="let booking of bookings">
      <app-booking-item
        [booking]="booking"
        (bookingDeleted)="handleBookingDeleted($event)">
      </app-booking-item>
      <button *ngIf="canDeleteBooking(booking)" class="btn-danger btn" (click)="cancelBooking(booking.id)">Delete Booking</button>

    </div>
  </ng-container>

  <ng-template #noBookings>
    <p>You have no bookings.</p>
  </ng-template>
</div>


