.booking-items {
  display: flex;
  flex-direction: column;
  gap: 15px; // Provides consistent spacing between booking items
}

.my-bookings-title {
  font-size: 28px; /* You can set the size to whatever you prefer */
  font-weight: bold; /* Optional: if you want the title to be bold */
  /* Add other styling as necessary */
  margin-bottom: 20px; /* Add some space below the title */
  margin-left: 6px; /* This will add space outside of the element */
  /* or */
  padding-left: 6px; /* This will add space inside of the element */
}
