<app-navbar></app-navbar>
<div class="container">
  <h2 class="text-center">My Bookings</h2>
  <div class="booking-items">
    <div class="booking-items mb-3" *ngFor="let booking of bookings">
      <app-booking-item
        [booking]="booking"
        (bookingDeleted)="handleBookingDeleted($event)">
      </app-booking-item>
      <div *ngIf="canDeleteBooking(booking)" class="d-flex justify-content-end">
        <button class="btn-danger btn" (click)="cancelBooking(booking.id)">Cancel Booking</button>
      </div>
      <!--      TODO fix-->
      <!--      <button class="btn btn-primary" (click)="openReviewDialog(booking)">-->
      <!--        Add Review-->
      <!--      </button>-->
    </div>

    <ng-template #noBookings>
      <h3 class="text-center">You have no bookings</h3>
    </ng-template>
  </div>
</div>


