.images {
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .details {
    img {
      cursor: pointer;
      width: 170px;
      height: 120px;
    }
  }

  .left-arrow {
    cursor: pointer;
    margin-right: -6px;
  }

  .right-arrow {
    cursor: pointer;
    margin-left: -6px;
  }

  .image-item {
    margin-bottom: 20px;
    margin-right: 20px;

    .selected {
      border: 3px solid #4666FF;
    }
  }
}

.custom-margin {
  margin-left: 23px;
}

ngx-dropzone {
  overflow-y: hidden;
}

ngx-dropzone-preview {
  background-size: cover;
}

@media (max-width: 475px) {
  .images {
    flex-direction: column;
  }

  .image-item {
    margin-right: 0 !important;
    flex-direction: column;

    .left-arrow {
      margin-right: 0;
      margin-bottom: -18px;
      rotate: 90deg;
    }

    .right-arrow {
      margin-left: 0;
      margin-top: -18px;
      rotate: 90deg;
    }
  }
}
