<div class="housing-item">

  <div class="housing-header d-flex justify-content-between align-items-center">

    <div class="housing-header-left">
      <h3 class="housing-name">{{ housing.name }}</h3>

      <div class="housing-location d-flex">
        <div class="location-name">{{ housing.location.name }}</div>
        <a class="location-link" target="_blank"
           [href]="'http://maps.google.com?q=' + housing.coordinates">Show on map</a>
      </div>
    </div>

    <div class="housing-header-right">
      <div class="reserve-button d-flex justify-content-end">
        <button class="btn btn-primary">Reserve</button>
      </div>
    </div>
  </div>

  <div class="housing-images row">

    <div class="col-lg-4 d-flex justify-content-around flex-column">
      <img *ngFor="let image of sideImages" [src]="image.imageSrc" class="housing-image" alt="image">
    </div>

    <div class="housing-preview-image col-lg-8">
      <img *ngIf="housing.previewImage" [src]="housing.previewImage.imageSrc" alt="image">
      <img *ngIf="!housing.previewImage" src="assets/null_image.jpg" alt="image">
    </div>

    <div class="col-lg-4" *ngFor="let image of bottomImages">
      <img [src]="image.imageSrc" class="housing-image" alt="image">
    </div>

    <!-- TODO show all images on click-->
    <div *ngIf="housing.images.length > 5" class="show-more-images col-lg-4">
      <img [src]="housing.images[5].imageSrc" alt="image" class="housing-image">
      <span>+ {{ housing.images.length - 3 }} photos</span>
    </div>

  </div>

  <div class="housing-description">
    {{ housing.description }}
  </div>

  <div class="housing-details">

    <div class="housing-price housing-detail">
      <label class="detail-title">Price per night: </label>
      <div class="detail-content">{{ housing.pricePerNight }} €</div>
    </div>

    <div class="housing-people housing-detail">
      <label class="detail-title">Max people: </label>
      <div class="detail-content">{{ housing.people }}</div>
    </div>

    <div class="housing-check-time housing-detail">
      <div class="housing-check-in d-flex">
        <label class="detail-title">Check-in: </label>
        <div class="detail-content">{{ housing.checkIn }}</div>
      </div>
      <div class="housing-check-out d-flex">
        <label class="detail-title">Check-out:</label>
        <div class="detail-content">{{ housing.checkOut }}</div>
      </div>
    </div>

    <div class="housing-min-rental-age housing-detail">
      <label class="detail-title">Min rental age: </label>
      <div class="detail-content">{{ housing.minAgeToRent }}</div>
    </div>

    <div class="housing-rooms housing-detail">
      <label class="detail-title">Rooms: </label>
      <div class="detail-content">{{ housing.rooms }}</div>
    </div>

    <div class="housing-min-nights housing-detail">
      <label class="detail-title">Min nights: </label>
      <div class="detail-content">{{ housing.minNights }}</div>
    </div>

  </div>


</div>

