<h1 mat-dialog-title>Add Review</h1>
<div mat-dialog-content>
  <p>Here you can add your review for the booking.</p>
  <mat-form-field appearance="fill">
    <mat-label>Enter your review</mat-label>
    <textarea matInput placeholder="Type your review here..." [(ngModel)]="reviewText" required></textarea>
  </mat-form-field></div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button type="submit" (click)="submitReview()" [disabled]="!reviewText">Save</button>
</div>
