/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --blue-color: #3057c0;
  --white-color: #ffffff;
  --black-color: #000000;
}
